<% form_for @post do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>

  <% if current_user %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
	
  <p><%= f.submit "Submit" %></p>
<% end %>