<% if @posts.count < 1 %>
	<div id="no_posts">There are no posts in the system.</div>
<% end %>

<% for post in @posts %>

  <div class="post">
    <div class="post_title"><h3><%= link_to post.title, post %></h3></div>
    <div class="post_body">
		<div class="poster_info"><strong><%= post.owner %></strong></div>
		<div class="post_content"><%= format_body post %></div>
	</div>
	<% if owner post %>
		<div class="post_footer"><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %> <%= link_to "Edit", edit_post_path(post) %></div>
	<% end %>
  </div>

<% end %>

<div id="name">
	
</div>

<p><%= link_to "New Post", new_post_path %></p>